<%- include('../layout/header.ejs') %>

<section class="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center mb-4">Login</h1>
            <form action="" method="post">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              <p class="text-center mt-3">Don't have an account? <a href="/signup">Sign up</a></p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 d-flex align-items-center justify-content-center" style="display: flex;flex-direction: column;">
        <h1 class="text-center mb-4">Thyma Dates And Nuts</h1>
        <div class="image-container">
       
          <img src="/userimages/Bateel_Farm.jpeg" alt="Bateel Farm" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .login {
    background-color: #f8f9fa;
    padding: 100px 0;
  }

  .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .image-container {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
</style>
