








<!--  -->
<!-- <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                    <div class="container height-100 d-flex justify-content-center align-items-center">
                        <div class="position-relative">
                            <div class="card p-2 text-center">
                                <h6>Please enter the one time password <br> to verify your account</h6>
                                <div> <span>A code has been sent to</span> <small>*******9897</small> </div>
                                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div>
                                <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
                            </div>
                        </div>
                    </div>  

                
            
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->



 <%- include('../layout/header.ejs') %>


  <section class="vh-100" style="background: linear-gradient(180deg, #f2d18472 0%, rgba(242, 209, 132, 0) 100%);
  border-radius: 0px;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
       

        <div class="col-lg-12 col-xl-11">
          <div class="card_s text-black" style="border-radius: 8px 8px 8px 100px;background-color: whitesmoke;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
               
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    
                    <div class="card_s p-2 text-center">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form action="/verify" method="post">
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    <div> <span>A code has been sent to</span> <small>*******@gmail.com</small> </div>
                    <div style="display: flex; justify-content: center;">    

                      <span style="color: red;">your otp expires at:</span><span id="otp-countdown" style="color: red;"></span>
                      
                      <span id="otp-counter"></span>
                      </div> 
                    <div class="form-outline flex-fill mb-0">
                  
                            
                      <label class="form-label" for="email">Your Email</label>
                      <input type="email" id="email" class="form-control in" name="email" required />
                    </div>
                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2 in"> <input class="m-2 text-center form-control rounded in"type="text" id="first" maxlength="1" name="otp" /> <input class="m-2 text-center form-control rounded in" type="text" id="second" maxlength="1" name="otp"/> <input class="m-2 text-center form-control rounded in" type="text" id="third" maxlength="1" name="otp"/> <input class="m-2 text-center form-control rounded in" type="text" id="fourth" maxlength="1" name="otp"/> <input class="m-2 text-center form-control rounded in" type="text" id="fifth" maxlength="1" name="otp"/> <input class="m-2 text-center form-control rounded in" type="text" id="sixth" maxlength="1" name="otp" /> </div>
                    <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 validate in">Validate</button> </div>
                    </form>
                    <p>
                      <% 
                         if(typeof msg !== 'undefined'){
                      %>
                      <p style="color:green"><%= msg %></p>
                      <%
                         }
                         %>
                    </p>
                </div>
              </div>
  
      
<script>
  // Countdown timer
let countdown = 180; 

function updateCountdown() {
  let minutes = Math.floor(countdown / 60);
  let seconds = countdown % 60;
  let formatted = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
  document.getElementById('otp-countdown').innerHTML = formatted;
  countdown--;
  if (countdown < 0) clearInterval(countdownInterval);
}

let countdownInterval = setInterval(updateCountdown, 1000);

// Live counter
let socket = io(); // initialize socket.io connection

socket.on('otpCount', count => {
  document.getElementById('otp-counter').innerHTML = count;
});
</script>

                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/userimages/epicurean_adventures_dates_hero_secondary_mobile.jpeg"
                    class="img-fluid image-verify" alt="Sample image" style="border-radius:30px;">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

