<div class="about"><span>About</span> <span style="color: #fffdf2;">Us</span> 
  <p style="color:black;
  font-size: 25.2px;
  font-family: Söhne;
  line-height: 20.36px;
  text-align: start;
  letter-spacing: normal;
  padding-left: 10px;
"> we at thyma ,are here to help our customer to get the product that the<span style="color: #fffdf2;">y are looking for years to get instantly</span></p>
<div class="container-fluid px-1 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center px-3">
        <div class="card___">
         <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=saudia%20arabia,thyma+(souk)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe>
        </div>
    </div>
</div>

</div>