
<!--  -->

<div style="  background: #333">

<div class="container">
  <header class="d-flex  flex-wrap align-items-center justify-content-center  py-3 ">
    
      <h3 id="logo">thyma dates and nuts</h3>
      <div class="dropdown">
        <button class="btn  dropdown-toggle" style="color: whitesmoke;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
         Product Management
        </button>
        <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
         
          <a class="dropdown-item" href="productList">Products</a>
          <a class="dropdown-item" href="addProduct">Add Product</a>
         </div>
      </div>
      <div class="dropdown">
        <button class="btn  dropdown-toggle" style="color: whitesmoke;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
         Category Management
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="categories">Categories</a>
          <a class="dropdown-item" href="addCategory">Add Category</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn dropdown-toggle" style="color: whitesmoke;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
         Coupon Management
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       
          <a class="dropdown-item" href="coupons">Coupons</a>
          <a class="dropdown-item" href="addCoupon">Add Coupon</a>
         
        </div>
      </div>
      <div class="dropdown">
        <button class="btn  dropdown-toggle" style="color: whitesmoke;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
         order Management
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="order">Order List</a>
         
        </div>
      </div>
     
      
    
    <div class="col-md-3 text-end">
      <form action="/surf">
        <input type="text" name="catogery" id="surf">
      </form>
    </div>
  </header>
</div>
</div>


  

