<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>At thyma , we replenish the Dates coming straight from the farm of the ancient city of al ula,thyma,al qassim in Saudi Arabia along with global assortment of exotic nuts , dry fruits , seeds , spices and other confectionery.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>new thyma,near tabuk city,saudi arabia</li>
                        <li>thymadates@gmail.com</li>
                        <li>0502755071</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p class="text-center">Copyrights &copy; 2023 - Thyma dates and nuts</a>,  All Rights Reserved.<br>
                    
                </p>
            </div>
            
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="/assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="/assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="/assets/js/sticker.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>

</body>
</html>