<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">Ksa 0502755071</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">thymadatesandnuts@email.com</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">Thyma</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/home" class="nav-link"> <i class="fa">&#xf015;</i> Home</a></li>
        
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas'>&#xf466;</i> Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="/home"><i class='fas' style="color: green;">&#xf466;</i> Shop</a>
            <a class="dropdown-item" href="/cart"><i style="color:green" class="fa">&#xf07a; </i> Cart</a>
            <a class="dropdown-item" href="/wish"> <i style="color:red" class="fa fa-solid fa-heart"> </i> wish</a>
           
          </div>
        </li>
        <li class="nav-item"><a href="/profiles" class="nav-link"><i  class='fas'>&#xf2bd; </i> Profile</a></li>
        <li class="nav-item "><a href="/logout" class="nav-link"><i  class='fas'>&#xf2f5;  Sign Out</i></a></li>
        <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span></a></li>

      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
